/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define L_DEFAULT 0
#define L_RIGHT   1
#define L_LEFT    2
#define L_NAV     3


/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <&mo L_RIGHT &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &mo L_LEFT
                        &kp A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &kp ESC
                        &mt LSFT Z &mt LALT X &lt 3 C &lt 4 V &lt 2 BSPC &lt 1 SPACE &kp B &mt RALT N &mt RCTL M &mt LSFT RET
                        >;
        };

        first_layer {
            bindings =
                <&mo L_NAV &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp N8 &kp N9 &mo L_NAV
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                 >;
        };

        second_layer {
            bindings = <&mo L_NAV &trans &trans &trans &trans &trans &trans &trans &trans &mo L_NAV
                        &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                        &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                        >;
        };

        third_layer {
            bindings = <&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                        &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &trans &trans &bt BT_NXT &bt BT_PRV
                        &bootloader &trans &trans &trans &trans &trans &trans &trans &trans &reset

                        >;
        };
    };
};
