/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define L_DEFAULT 0
#define L_RIGHT   1
#define L_LEFT    2
#define L_NAV     3


/ {

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <&mo L_RIGHT &none &none &none &none &none &none &none &bt BT_SEL 0  &mo L_LEFT
                        &none &none &none &none &none &none &none &none &none &none
                        &none &none &none &none &none &none &none &none &none &none
                        >;
        };

        right_layer {
            bindings = <&mo L_NAV &none &none &none &none &kp INS  &none &none BT_SEL 0 &mo L_NAV
                        &none     &none &none &none &none &kp DEL  &none &none &none    &kp SPACE
                        &none     &none &none &none &none &kp HOME &none &none &kp END  &kp ESC
                 >;
        };

        left_layer {
            bindings = <&mo L_NAV &kp UP   &none     &kp PG_UP &kp SLASH &none &none &none &kp BT_SEL 0 &mo L_NAV
                        &kp LEFT  &kp DOWN &kp RIGHT &kp PG_DN &kp STAR  &none &none &none &none        &none
                        &none     &none &none &none &none &kp HOME &none &none &none &none
//                        &jog_01   &jog_1   &jog_10   &jog_100  &kp HOME  &none &none &none &none        &none
                        >;
        };

        third_layer {
            bindings = <&none &none &none &none &none &none &none &none &none &none
                        &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none &none &bt BT_NXT &bt BT_PRV
                        &bootloader &none &none &none &none &none &none &none &none &reset

                        >;
        };
    };
};
