/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define L_DEFAULT 0
#define L_RIGHT   1
#define L_LEFT    2
#define L_NAV     3


/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <&mo L_RIGHT &none &none &none &none &none &none &none &bt BT_SEL 0  &mo L_LEFT
                        &none &none &none &none &none &none &none &none &none &none
                        &none &none &none &none &none &none &none &none &none &none
                        >;
        };

        first_layer {
            bindings = <&none &none &none &none &none &kp INS  &none &none &BT_SEL 0 &mo L_NAV
                        &none &none &none &none &none &kp DEL  &none &none &none     &kp SPACE
                        &none &none &none &none &none &kp HOME &none &none &kp END   &kp ESC
                 >;
        };

        second_layer {
            bindings = <&mo L_NAV &trans &trans &trans &trans &trans &trans &trans &trans &mo L_NAV
                        &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                        &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                        >;
        };

        third_layer {
            bindings = <&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                        &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &trans &trans &bt BT_NXT &bt BT_PRV
                        &bootloader &trans &trans &trans &trans &trans &trans &trans &trans &reset

                        >;
        };
    };
};
